.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}

.link,
.link:hover {
  color: inherit;
  border-radius: 50%;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.span:hover:not(.active) {
  background-color: var(--color-grey-hover);
}

.active {
  background-color: var(--color-primary);
  color: white;
}

.chevron {
  font-size: 14px;
  color: inherit;
}
