.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* background-color: rgba(0, 0, 0, 0.507); */
  /* color: white; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* top: 1rem; */
  /* right: 1rem; */
}

.button:hover {
  color: var(--color-star);
  transform: scale(1.05);
  transition: all 0.1s ease-in;
}

.icon,
.filledIcon {
  font-size: 16px;
}

.filledIcon {
  color: var(--color-star);
}
