.main {
  max-width: 1440px;
  display: flex;
  gap: 2rem;
}

.contentWrapper {
  max-width: 1240px;
}

.titleFooter {
  color: grey;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.description {
  display: flex;
}

.p {
  display: inline;
}

.a:hover {
  text-decoration: underline;
}

.castSection {
  margin: 4rem 0;
}

.castList {
  display: flex;
  gap: 0.5rem;
}

.star {
  color: var(--color-star);
}
