.card,
.sliderCard {
  overflow: hidden;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.15s ease-in;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.sliderCard {
  min-width: 16.667%;
}

.sliderCard:hover {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.15s ease-in;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}

.content {
  padding-bottom: 1.5rem;
}

.footer {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date {
  font-size: 14px;
}

.rating {
  font-size: 14px;
}

.star {
  color: var(--color-star);
}
