.img {
  min-height: 179px;
  width: 120px;
  object-fit: contain;
  background-color: black;
  border-radius: 10px;
}

.li {
  font-size: 14px;
  max-width: 120px;
}

.character {
  color: grey;
}

.name,
.character {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
