.ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem 1rem;
}

.sliderUl {
  display: flex;
}

.navActive {
  background-color: blue;
}

@media screen and (max-width: 1024px) {
  .ul {
    gap: 4rem 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .ul {
    gap: 2rem 0.2rem;
  }
}
