.card {
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.img {
  border-radius: 10px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}

.content {
  padding: 0 0.5rem 0.5rem;
}

.footer {
  color: grey;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date {
  font-size: 14px;
}

.rating {
  font-size: 14px;
}
