.wrapper {
  position: relative;
}

.section {
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
  padding: 1rem 0.5rem;
}

.slider {
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.previousButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  color: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  top: 50%;
  transform: translateY(-150%);
}

.previousButton {
  left: 0rem;
}

.nextButton {
  right: 0rem;
}

.previousButton:hover,
.nextButton:hover {
  color: var(--color-primary);
  transform: translateY(-150%) scale(1.05);
  transition: all 0.1s ease-in;
}

.chevron {
  font-size: 16px;
}
